<md-dialog aria-label="LogOn">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Inicio de sesión</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <i class="material-icons">cancel</i>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
    <br>
      <md-input-container class="md-icon-float md-block">
      <!-- Use floating label instead of placeholder -->
      <label>Name</label>
      <!-- <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon> -->
      <input ng-model="user.name" type="text">
    </md-input-container>

    <md-input-container class="md-icon-float md-block">
      <!-- Use floating label instead of placeholder -->
      <label>Contraseña</label>
      <i class="material-icons" >people</i>
      <!-- <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon> -->
      <input ng-model="user.pass" type="text">
    </md-input-container>

    
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button  class="md-primary" ng-click="answer('Mykro')">
       Cancelar
      </md-button>
      <md-button class="md-primary"  ng-click="answer(user.name)">
        Inciar Sesión
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>