#historia{
	/*background-color:grey;*/
	border-radius: 10%;
	/*opacity: 0.9;*/
	overflow: auto;
	font-weight: 600;
	color: white;
	
}
#articulos{
	background:rgba(0,0,0,0);
	overflow: auto;
}

.rel-img{
	height: 200;
	width: 200;
}
#cuerpo{
	background:url("/E-Commerce/img/store.jpg") fixed no-repeat center
}

.material-icons{
	color: white;
	font: bold;
}
#sec_1{
	background: url(../img/sec1.jpg) no-repeat fixed center ;
	-webkit-background-size: cover;
	background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
}
#sec_2{
	background: url(../img/sec2.jpg) no-repeat fixed center ;
	-webkit-background-size: cover;
	background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
}
#sec_3{
	background: url(../img/sec3.jpg) no-repeat fixed center ;
	-webkit-background-size: cover;
	background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
}
#sec_4{
	background: url(../img/sec4.jpg) no-repeat fixed center ;
	-webkit-background-size: cover;
	background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
}
.section{

}