{% extends "main_header.html" %}
{% block body %}
   <form style=" display:block" action="{{url_for('ret_cart')}}" method="POST" id="jsonForm">
   			<input type="text" name="ids" id="ids">
   			<input type="text" name="qty" id="qty">
			<input type="submit">		
   </form>
   <div class="account-in">
   	 <div class="container">
		  <div class="check_box">	 
		<div class="col-md-9 cart-items">
			 <h1>Carrito de compras(2)</h1>
				<script>$(document).ready(function(c) {
					$('.close1').on('click', function(c){
						$('.cart-header').fadeOut('slow', function(c){
							$('.cart-header').remove();
						});
						});	  
					});

			   </script>
			   <div class="carrito"></div>
			  <div class="cart-header2">
				 <div class="close2"> </div>
				  <div class="cart-sec simpleCart_shelfItem">
						<div class="cart-item cyc">
							 <img src="{{ url_for('static', filename='images/m1.jpg') }}" class="img-responsive" alt=""/>
						</div>
					   <div class="cart-item-info">
						<h3><a href="#">Mountain Hopper(XS R034)</a><span>Modelo #: 3578</span></h3>
						<ul class="qty">
							<li><p>Tamaño : 5</p></li>
							<li><p>Cantidad : 1</p></li>
						</ul>
							 <div class="delivery">
							 <p>Cargos de servicio: 100.00</p>
							 <span>Envió de 2 a 3 días hábiles</span>
							 <div class="clearfix"></div>
				        </div>	
					   </div>
					   <div class="clearfix"></div>
				  </div>
			  </div>	
			 <script>$(document).ready(function(c) {
					$('.close2').on('click', function(c){
							$('.cart-header2').fadeOut('slow', function(c){
						$('.cart-header2').remove();
					});
					});	  
					});
			 </script>
			 <div class="cart-header2">
				 <div class="close2"> </div>
				  <div class="cart-sec simpleCart_shelfItem">
						<div class="cart-item cyc">
							 <img src="{{ url_for('static', filename='images/m4.jpg') }}" class="img-responsive" alt=""/>
						</div>
					   <div class="cart-item-info">
						<h3><a href="#">Mountain Hopper(XS R034)</a><span>Modelo #: 3578</span></h3>
						<ul class="qty">
							<li><p>Tamaño : 5</p></li>
							<li><p>Cantidad : 1</p></li>
						</ul>
							 <div class="delivery">
							 <p>Cargos de servicio: 100.00</p>
							 <span>Envió de 2 a 3 días hábiles</span>
							 <div class="clearfix"></div>
				        </div>	
					   </div>
					   <div class="clearfix"></div>
				  </div>
			  </div>		
		 </div>
		 <div class="col-md-3 cart-total">	
		 <div class="price-details">
				 <h3>Detalles De Precios</h3>
				 <span>Total</span>
				 <span class="total1">6200.00</span>
				 <span>Descuento</span>
				 <span class="total1">---</span>
				 <span>Cargos de envió</span>
				 <span class="total1">150.00</span>
				 <div class="clearfix"></div>				 
			 </div>	
			 <ul class="total_price">
			   <li class="last_price"> <h4>TOTAL</h4></li>	
			   <li class="last_price"><span>6350.00</span></li>
			   <div class="clearfix"> </div>
			 </ul>
			 <div class="clearfix"></div>
			 <a class="order" href="#">Realizar Pedido</a>
			 <div class="total-item">
				 <h3>OPCIONES</h3>
				 <h4>CUPONES</h4>
				 <a class="cpns" href="#">Applicar Cupones</a>
				 {% if not session.logged_in %}
				 <p><a href="/logon">Inicia sesión</a> para usar cupones</p>
				 {% endif %}
			 </div>
			</div>
			<div class="clearfix"></div>
	     </div>
	  </div>
   </div>
   
   {% endblock %}
