{% extends "main_header.html" %}
{% block body %}
   <div class="men">
   	 <div class="container">
   	  <div class="grid_1">
	   	  <h1>Contáctanos</h1>
      </div>
      <div class="grid_4">
      <div class="grid_2 preffix_1">
	      <ul class="iphone">
	      	<i class="phone"> </i>
	      	<li class="phone_desc">Telefono : +1 449 800 245 2365 </li>
	      	<div class="clearfix"> </div>
	      </ul>
	      <ul class="iphone">
	      	<i class="flag"> </i>
	        <li class="phone_desc">Website : <a href="index.html">www.urtimeclock.com</a></li>
	      	<div class="clearfix"> </div>
	      </ul>
	  </div>
	  <div class="grid_3">
	      <ul class="iphone">
	      	<i class="msg"> </i>
	        <li class="phone_desc">Email : <a href="mailto:migdero@gmail.com">urtimeclock@gmail.com</a> </li>
	      	<div class="clearfix"> </div>
	      </ul>
	      <ul class="iphone">
	      	<i class="home"> </i>
	        <li class="phone_desc">Dirección : C.C. Altaria </li>
	      	<div class="clearfix"> </div>
	      </ul>
	  </div>
	  <div class="clearfix"> </div>
	 </div>
	 <div class="contact_form">
	 	<h2>Ayudanos a Mejorar</h2>
	    <form>
			<div class="col-md-6 to">
             	<input type="text" class="text" value="Nombre" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Nombre';}">
			 	<input type="text" class="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
			 	<input type="text" class="text" value="Asunto" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Asunto';}">
			</div>
			<div class="col-md-6 text">
               <textarea value="Mensaje" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Mensaje';}">Mensaje</textarea>
            </div>
            <div class="clearfix"></div>
            <div class="but__center"><input type="submit" value="Enviar &gt;"></div>
        </form>
     </div>
    </div>
   </div>
   <div class="map">
	   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3701.2683433623693!2d-102.291911685707!3d21.92423306198219!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8429ee66c314de7d%3A0xdff547d2b8c845ce!2sCentro+Comercial+Altaria!5e0!3m2!1ses-419!2sco!4v1473718833329" > </iframe>
   </div>

   
{% endblock %}