{% extends "main_header.html" %}
{% block body %}

<br><br>	
<div class="container tab-container">
		{% if not session.logged_in %}
		<div class="col-md-6 account-top" role="tabpanel" class="tab-pane active" id="#login_tab">
			<form action="{{ url_for('login') }}" method=post>
				<div> 	
					<span>Email*</span>
					<input type="text" name="username"> 
				</div>
				<div> 
					<span class="pass">Password*</span>
					<input type="password" name="password">
				</div>				
				<input type="submit" value="Login"> 
			</form>
		</div>
		<div class="col-md-6 account-top" id="#SignIn_tab">
			<!-- <form action="{{ url_for('add_usr') }}" method=post class=add-entry>
    		  <dl>
    		    <dt>Name:
    		    <dd><input type=text size=30 name=name>
    		    <dt>Last name:
    		    <dd><input type=text size=30 name=lastname>
    		    <dt>Password:
    		    <dd><input type=password size=30 name=password>
    		    <dt>Mail:
    		    <dd><input type=text size=30 name=mail>
    		    <dd><input type=submit value=Share>
    		  </dl>
    		</form> -->
			<form action="{{ url_for('add_usr') }}" method=post >
				<span>Nombre completo*</span>
				<div class="row">
					<div class="col-md-6"> 
						<input type="text" placeholder="Nombre" name=name>
					</div>
					<div class="col-md-5"> 
						<input type="text" placeholder="Apellido" name=lastname>
					</div>
				</div>
				<div> 	
					<span>Email*</span>
					<input type="text" name=mail> 
				</div>
				<div> 
					<span class="pass">Password*</span>
					<input type="password" name=password>
				</div>				
				<input type="submit" value="Registrarse"> 
			</form>
		</div>
		{% else %}

		<div class="modal fade" id="venta_individual">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Detalles de compra</h4>
					</div>
					<div class="modal-body">
						<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th hidden="">Id del producto</th>
								<th>Producto</th>
								<th>Cantidad</th>
								<th>Precio por pieza</th>
								<th>Total</th>
							</tr>
						</thead>
						<tbody>
							
						</tbody>
					</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Save changes</button>
					</div>
				</div>
			</div>
		</div>
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>Folio de compra</th>
							<th>Fecha de compra</th>
							<th>Datos de envio</th>
							<th>Detalles de compra</th>
						</tr>
					</thead>
					<tbody>
			{% for e in sales %}
						<tr>
							<td> {{e.id}} </td>
							<td> {{e.date}} </td>
							<td> {{e.country+ ", "+e.mun +" "+e.calle+ " "+e.fracc+" "+ e.nume|string}} </td>
							<td> <span class="glyphicon glyphicon-zoom-in view_venta" id="venta_{{e.id}} " aria-hidden="true" ></span> </td>
						</tr>
			{% else %}
				<div class="well well-md">
					<center>
						<h1>No has comprado nada aún </h1>
						<br>
						<h1>¡¡¡Ha gastar se ha dicho!!!!</h1>
					</center>
				</div>
			{% endfor %}
					</tbody>
				</table>
			<div class="clearfix"> </div>

		{% endif %}
	</div>
{% endblock %}