<html lang="en" >
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Angular Material style sheet -->
	<link rel="stylesheet" href="css/jquery.fullpage.min.css">
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="css/estilo.css">
</head>
<body ng-app="eCommerce" ng-cloak >
 
  <!--
    Your HTML content here
-->  

 
<div ng-controller="AppCtrl" ng-cloak ng-init="user='Log In'" id="cuerpo">
	<md-content>
		<md-toolbar class="md-hue-2">
			<div class="md-toolbar-tools">
				<md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()" >
					<i class="material-icons">dehaze</i>
				</md-button>
				<h2>
					<span>Navegacion </span>
				</h2>
				<a class="navbar-brand" href="#">
					<img alt="Brand" src="img/logo2.png" style="height:80%;">
				</a>
				<span flex></span>
				<md-button class="md-primary md-raised" ng-click="showAdvanced($event)">{{user}} 
  				<md-button class="md-icon-button" aria-label="Favorite">
  					<i class="material-icons" style="color: gray;">people</i>
  				</md-button>
				</md-button>
				<md-button class="md-icon-button" aria-label="More">
					<i class="material-icons">more_vert</i>
				</md-button>
			</div>
		</md-toolbar>
	</md-content>
	
<div id="fullpage">
	<div class="section" id="sec_1" >
	   	<div flex layout="column" layout-align="center"  flex-offset-gt-md="10" flex-gt-md="80" id="historia" >
	    	<h1 class="md-display-4" layout-align="center" >Historia</h1>
	     	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, perferendis, soluta! Quae iure quas cupiditate consequatur cum ab sit rerum praesentium, id reiciendis, voluptatibus doloribus, placeat sequi. Aliquid, eos voluptas?</p>
	     	<p>Porro cumque consequuntur sunt. Minus tempore iusto, eum esse fugiat sint, aliquam ut dicta iste debitis, dignissimos eaque quis laboriosam. Tempore maxime labore at laudantium amet vitae, sint necessitatibus quas.
	     	</p>
	     	<p>
	      	Sint unum eam id. At sit fastidii theophrastus, mutat senserit repudiare et has. Atqui appareat repudiare ad nam, et ius alii incorrupte. Alii nullam libris his ei, meis aeterno at eum. Ne aeque tincidunt duo. In audire malorum mel, tamquam efficiantur has te.
	    	</p>
	    	<p>
	      	Qui utamur tacimates quaestio ad, quod graece omnium ius ut. Pri ut vero debitis interpretaris, qui cu mentitum adipiscing disputationi. Voluptatum mediocritatem quo ut. Fabulas dolorem ei has, quem molestie persequeris et sit.
	    	</p>
	    	<p>
	      	Est in vivendum comprehensam conclusionemque, alia cetero iriure no usu, te cibo deterruisset pro. Ludus epicurei quo id, ex cum iudicabit intellegebat. Ex modo deseruisse quo, mel noster menandri sententiae ea, duo et tritani malorum recteque. Nullam suscipit partiendo nec id, indoctum vulputate per ex. Et has enim habemus tibique. Cu latine electram cum, ridens propriae intellegat eu mea.
	    	</p>
	    	<p>
	      	Duo at aliquid mnesarchum, nec ne impetus hendrerit. Ius id aeterno debitis atomorum, et sed feugait voluptua, brute tibique no vix. Eos modo esse ex, ei omittam imperdiet pro. Vel assum albucius incorrupte no. Vim viris prompta repudiare ne, vel ut viderer scripserit, dicant appetere argumentum mel ea. Eripuit feugait tincidunt pri ne, cu facilisi molestiae usu.
	    	</p>
	    </div>
	</div>


    <div layout="row" layout-align="center" class="section" id="sec_2">
        <h1 class="md-display-3">
          Solo la mejor calidad
        </h1>
    </div>    
    <div class="section" id="sec_3">
      Seccion 3
    </div>
    <div class="section" id="sec_4">
      Seccion 4
    </div>
</div>

<!-- Pagina de ventas -->

	<!-- <md-content flex-gt-md="80" flex-offset-gt-md="10" layout="row" layout-wrap ng-controller="productosCtrl as prod" id="articulos">
		<md-card   md-theme= md-theme-watch flex="15" ng-repeat="p in relojes" class="rel_card" layout="column" layout-align="center center" >
			<img class="md-card-image rel-img" ng-src="{{p.img_src}}" alt="image caption">
			<md-card-content>
				<h2>{{p.nombre}} </h2>
				<p>{{p.ventas}} </p>
				<p>{{p.precio|currency}} </p>
			</md-card-content>
			<md-card-footer>
			{{p.catego}}
			</md-card-footer>
			<div class="md-actions" layout="row" layout-align="center">
			   <md-button class="md-raised md-primary">
			   	<i class="material-icons">add_shopping_cart</i>Comprar
			   </md-button>
			 </div>
		</md-card>
	</md-content> -->

<!-- end Pagina de ventas -->

	<div  layout="column" style="height: 500px;" ng-cloak>

		<section layout="row" flex>

			<md-sidenav class="md-sidenav-left" md-component-id="left"
			 md-whiteframe="4">

			<md-toolbar class="md-theme-indigo">
				<h1 class="md-toolbar-tools">Disabled Backdrop</h1>
			</md-toolbar>

			<md-content layout-margin>
				<md-grid-list md-cols="2" md-gutter="string" md-row-height="string" md-on-layout="expr">
				  <md-grid-tile>holi</md-grid-tile>
				</md-grid-list>
				<md-button ng-click="toggleLeft()" class="md-accent">
					Close this Sidenav
				</md-button>
			</md-content>

		</md-sidenav>

		<!-- <md-content flex layout-padding>

			<div layout="column" layout-align="top center">
				<p>
					Developers can also disable the backdrop of the sidenav.<br/>
					This will disable the functionality to click outside to close the sidenav.
				</p>

				<div>
					<md-button ng-click="toggleLeft()" class="md-raised">
						Toggle Sidenav {{AppCtrl2.oli}}
					</md-button>
				</div>

			</div>

		</md-content> -->

		</section>
	</div>
</div>



<!-- Angular Material requires Angular.js Libraries -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

<!-- Your application bootstrap  -->
    
<script src="js/jquery-2.2.1.min.js">   </script> 
<script src="js/jquery.fullpage.min.js"></script>
<script src="js/js.js">    
    /**
     * You must include the dependency on 'ngMaterial' 
     */
 </script>
</body>
</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->



